* {
    box-sizing: border-box;
}

html {
    background-color: #303238;
    color: rgb(177, 160, 160);
    /* font-family: Muli, sans-serif; */
    font-family: "Cutive Mono", monospace;
    font-size: 20px;
    /* letter-spacing: 2px; */
}

.header {
    font-family: "Space Mono", monospace;
    font-size: 40px;
    color: #5F881D;
}

/* unvisited link */
a:link {
    color: whitesmoke;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: whitesmoke;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #5F881D;
    text-decoration: underline;
}

/* color pallete */
/* CSS HEX */
/* --jet: #303238ff;
--ebony: #3C4831ff;
--dark-moss-green: #485D2Bff;
--fern-green: #547324ff;
--avocado: #5F881Dff;
--asparagus: #6B9E17ff;
--apple-green: #77B310ff; */

.container {
    display: flex;
    flex-direction: column;
}

.container > div {
    /* border: 3px solid #5F881D; */
    border-radius: 25px;
    width: auto;
    margin: 10px;
    padding: 20px;
}

/* header section */

.top {
    display: flex;
    justify-content: space-between;
    height: 10%;
    padding: 10px;
    color: #5F881D;
    font-size: 32px;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 5em;
}

/* overall layout of about, education, work, leadership, volunteer, footer sections */
.about,
.education,
.work,
.leadership,
.volunteer,
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    gap: 1.5em;
}

.duration {
    font-style: italic;
}

.header {
    color: #5F881D;
    font-size: 32px;
    letter-spacing: 3px;
}

.info {
    display: flex;
    gap: 3em;
}

/* about section */
#about-header {
    flex-grow: 1;
}

#about-text {
    flex-grow: 2;
}

/* education section */
.education-info {
    display: flex;
    gap: 3em;
}

#college {
    font-style: italic;
}

#education-left {
    display: flex;
    flex-direction: column;
}

/* work section */

/* leadership section */


/* volunteer section */


/* footer section */